/*ONLY BREAKPOINTS BEYOND THIS POINT*/
/*ONLY BREAKPOINTS BEYOND THIS POINT*/
/*ONLY BREAKPOINTS BEYOND THIS POINT*/
/*ONLY BREAKPOINTS BEYOND THIS POINT*/
/*ONLY BREAKPOINTS BEYOND THIS POINT*/

/*EXPERIMENTAL BREAKPOINT 0*/
@media (min-width: 0px) {
}

/*YOU ARE EDITING BREAKPOINTS, NOT GENERAL CSS*/

// MICRO 350px
@media (min-width: 350px) {
  // gotta preserve the whole SASS pyramid or you'll lose on specificity to main.css
  // am I a pharaoh now?
  // December 2020 - this was a terrible idea
  // October 2022 - still a terrible idea

  #boxModal {
    .boxModalContent {
      #boxModalImages {
        .boxModalImage {
          img {
            width: 120%;
          }
        }
      }
    }
  }

  .boxTitle {
    font-size: 42px;
  }

  .boxText {
    line-height: 28px;
    font-weight: 400;
    font-size: 14px;
  }

  #boxModal .boxModalContent .boxStats .boxStat .boxStatTitle {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
  }

  #boxModal .boxModalContent .boxStats .boxStat .boxStatValue {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
  }

  #boxModal .boxModalContent #boxModalButtons .boxModalButton {
    font-size: 12px;
  }

  #boxModal .boxModalContent #boxModalButtons {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }
} // end of micro 350px

/*SMALL 576px*/
@media (min-width: 576px) {
}

$fontSizeDesktopMedium: 12px;

/*MEDIUM 767px*/
@media (min-width: 767px) {
  .boxTitle {
    font-size: 75px;
  }

  .boxText {
    line-height: 42px;
    font-weight: 400;
    font-size: 21px;
  }

  .btnFrontPage {
    height: 80px;

    span {
      font-size: 16px;
    }
  }

  #boxMain .boxCollapser .collapserContent p {
    line-height: 42px;
    font-weight: 400;
    font-size: 21px;
  }

  #boxMain .boxCollapser .collapserContent {
    margin-top: 30px;
  }

  .cardFlat {
    width: 300px;
  }

  .cardFlat .boxFlatPhoto {
    width: 300px;
    height: 220px;
  }

  .cardFlat .boxFlatPhoto img {
    width: 100%;
    height: 100%;
  }

  .cardFlat .boxFlatInfo .boxFlatDescription {
    font-size: 15px;
    height: 130px;
  }

  #boxModal .boxModalContent .boxStats .boxStat .boxStatTitle {
    font-size: 15px;
  }

  #boxModal .boxModalContent .boxStats .boxStat .boxStatValue {
    font-size: 15px;
  }

  #boxModal .boxModalContent #boxModalButtons {
    margin-bottom: 35px;
  }

  #boxModal .boxModalContent #boxModalButtons .boxModalButton {
    // width: 265px;
    height: 40px;
    font-size: 15px;
  }

  .boxStatIcon {
    padding: 10px;
  }

  #boxModal .boxModalContent {
    margin-bottom: 10px;
  }

  #boxModal .boxModalContent #boxModalTitle {
    font-size: 30px;
  }

  #boxModal .boxModalContent #boxModalSubtitle {
    font-size: 30px;
  }

  #boxModal .boxModalContent #boxModalImages .boxModalImage {
    width: 180px;
    height: 130px;
  }

  #boxModal .boxModalContent #boxModalDescription {
    line-height: 25px;
    font-size: 15px;
    width: 80%;
    margin-top: 40px;
  }

  #mainContact #boxContactDetails {
    // margin: 60px;
    font-size: 25px;
  }

  #boxMobileBar {
    height: 90px;
    // background-color: darkblue;
  }

  #boxBurgerMenu #burgerButton {
    width: 90px;
    height: 90px;
    // background-color: lime;
  }

  #boxMobileBar .mobileBarItem {
    padding: 0;
    margin-left: 10px;
  }

  #boxBurgerMenu #navPanel .navSign img {
    height: 55px;
  }

  #boxMain .boxMainMap {
    padding-top: 0;
  }

  #boxMain.boxMainIndex {
    padding-left: 20px;
    padding-right: 20px;
    // background-color: pink !important;
  }

  #boxPhotoModal #boxPhotoModalImage {
    padding: 10px;
  }

  #boxPhotoModal .boxArrowButton,
  #boxPhotoModal .boxExitButton {
    width: 80px;
    height: 80px;
  }

  #boxPhotoModal .boxArrowButton.right {
    right: 22.5px;
    top: 49vh;
  }

  #boxPhotoModal .boxArrowButton.left {
    left: 22.5px;
    top: 49vh;
  }

  #boxPhotoModal .boxExitButton {
    top: 22.5px;
    right: 22.5px;
  }
} // end of @media 768px

/*YOU ARE EDITING BREAKPOINTS, NOT GENERAL CSS*/

/*LARGE 992px*/
@media (min-width: 992px) {
  .boxFrontPageButtons {
    width: 80%;
    // background-color: pink;
    margin: auto;

    .btnFrontPage {
    }
  }

  #boxMain.boxMainIndex {
    // background-color: darkblue;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
  }

  #boxMain.boxMainIndex > * {
    padding: 0;

    // border: 1px solid red;
    margin-bottom: 50px;
  }

  #boxMap {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: auto;
  }

  #boxMobileBar,
  #boxBurgerMenu {
    display: none;
  }

  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding-right: 120px;
    // background-color: darkcyan;
  }

  #navBar #boxNavExtras .boxNavExtra .btnFacebook {
    // background-color: darkblue;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 0px;
    // margin: 5px;
  }

  #navBar #boxNavExtras .boxNavExtra .btnFacebook img {
    height: 70px;
    width: 70px;
    padding: 15px;
    // background-color: #3C5A99;
  }

  // Facebook blue: #3C5A99

  #boxLogo {
    // position: absolute;
    top: 0;
    left: 0;
  }

  .navButton {
    width: 120px;
    // background-color: red;
  }

  .boxTitle {
    width: 100%;
    margin: auto;
    font-size: 70px;
    // margin-top: 60px;
  }

  .boxText {
    font-size: 20px;
    width: 100%;
    // padding: 20px;
    margin: auto;
  }

  .boxFrontPageButtons {
    width: 100%;
  }

  .btnOffer {
    width: 400px;
  }

  #boxModal .boxModalContent .boxStats {
    width: 70%;
  }

  #boxModal .boxModalContent {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }

  #mainContact #boxContactDetails .socialButton {
    width: 50%;
    // background-color: red;
  }
}

/*YOU ARE EDITING BREAKPOINTS, NOT GENERAL CSS*/

/*EXTRA LARGE*/
@media (min-width: 1200px) {
  #boxMain {
    height: auto;
  }

  #boxModal .boxModalContent .boxStats {
    width: 50%;
  }

  #boxPhotoModal #boxPhotoModalImage {
    // padding: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #photoModalImage {
    margin: auto;
  }

  #boxMain .boxMainMap {
    text-align: center;
    width: 97vw;
    background-color: pink;
  }

  #boxMap {
    // margin: auto;
    // background-color: red;
    // width: 9%;
    // height: 2%;
    // padding: 0;
    margin: 0;
  }

  #mainContact {
    #boxContactDetails {
      // background-color: lime;
      width: 50%;
      margin-left: 25%;
      font-size: 20px;
      // margin: auto;
      // margin-bottom: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .navButton {
    width: 140px;
    // background-color: red;
  }
} // end of XL breakpoint 1200px
